
# In case DOTSOFTWARE_ROOT_DIR is set as ~/.software, that is the default
bin/
info/
include/
lib/
lib64/
libexec/
man/
opt/
share/
src/

# Configuration files
etc/wgetrc

# Bash completion
etc/bash_completion.d

# In case DOTSOFTWARE_TMP_DIR is set as DOTSOFTWARE_ROOT_DIR
build/

# Needed if OpenSSL is installed
ssl/
