
!etc/deps.gv
!etc/installrc.d/
!etc/profile
!etc/versions

# In case DOTSOFTWARE_ROOT_DIR is set as ~/.software, that is the default
bin/
etc/
info/
include/
lib/
lib64/
libexec/
man/
opt/
share/
src/

# In case DOTSOFTWARE_TMP_DIR is set as DOTSOFTWARE_ROOT_DIR
build/

# Needed if OpenSSL is installed
ssl/
