
# In case DOTSOFTWARE_ROOT_DIR is set as ~/.software, that is the default
bin/
info/
include/
lib/
man/
share/
src/

# Configuration files
etc/wgetrc

# In case DOTSOFTWARE_TMP_DIR is set as DOTSOFTWARE_ROOT_DIR
build/

